<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="SampleSuite">
  <test thread-count="5" name="FirstTest">
  <parameter name="uname" value="tomsmith"/>
   <parameter name="pwd" value="SuperSecretPassword!"/>
  <groups>
  <run>
 
  </run>
  </groups>
    <classes>
      <class name="testscripts.DataParamTest"/>
    </classes>
  </test> <!-- FirstTest -->
</suite> <!-- SampleSuite -->
